.employees {
    margin: 1rem auto;
    width: 50%;
    max-width: 40rem;
}

.employees ul {
    list-style: none;
    padding: 1rem;
}

.employees li {
    background: bisque;
    border: 1px solid #ccc;
    margin: 0.1rem 0;
    padding: 0.1rem;
    max-height: 20rem;
}
